

.section-more {
  padding-top: 50px;
  @include media-breakpoint-up(lg) {
    padding-top: 75px;
  }

  .section-content {
    overflow: hidden;
  }

  .tile-link {
    &:hover {
      cursor: pointer;

      .link {
        color: #0a58ca;
      }

      .link-copy {
        text-decoration: underline;
      }
    }
  }
}

@import "more/grid";
