

.body {
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

.xs-show {
  display: block;
  @include media-breakpoint-up(sm) { display: none; }
}
.xs-hide {
  display: none;
  @include media-breakpoint-up(sm) { display: initial; }
}
